{% extends 'base.html' %}

<h1>여긴 home이야.</h1>

{%block contents%}
<a href="{%url 'signup'%}">회원가입</a>
<a href="{%url 'login'%}">로그인</a>

{% for blog in posts %}

<h2>{{blog.title}}</h2>
<h4>{{blog.pub_date}}</h4>
<h4>{{blog.more}}<a href="{%url 'detail' blog.id%}"> ...more</a></h4>
<br><br>

{% endfor %}

<a href="{%url 'new'%}">글쓰기</a>

{%if posts.has_previous%}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">이전</a>
{%endif%}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{%if posts.has_next%}
<a href="?page={{posts.next_page_number}}">다음</a>
<a href="?page={{posts.paginator.num_pages}}">Last</a>
{%endif%}

{% endblock %}